$dialogMinWidth: 580px;
$dialogMaxWidth: 698px;
/* el-dialog */
.el-dialog {
    min-width: $dialogMinWidth;
    max-width: $dialogMaxWidth;
    .el-dialog__body {
        width: calc(100% - 200px);
        margin: auto;
    }

    .el-dialog__footer {
        text-align: center;
    }
}
