@charset "UTF-8";
:export {
  menuText: #505F79;
  menuActiveText: #5087E5;
  subMenuActiveText: #5087E5;
  menuBg: #F4F5F7;
  menuHover: #E2E4E9;
  subMenuBg: #F4F5F7;
  subMenuHover: #E2E4E9;
  sideBarWidth: 250px;
  readonlyColor: #DCDFE6;
}

/* common size variable */
/* default style */
/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload input[type="file"] {
  display: none !important;
}

.el-upload__input {
  display: none;
}

.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

.upload-container .el-upload {
  width: 100%;
}

.upload-container .el-upload .el-upload-dragger {
  width: 100%;
  height: 200px;
}

.el-dropdown-menu a {
  display: block;
}

.el-range-separator {
  box-sizing: content-box;
}

#app .main-container {
  min-height: 100%;
  transition: margin-left .28s;
  margin-left: 251px;
  position: relative;
}

#app .sidebar-container {
  transition: width 0.28s;
  width: 251px;
  background-color: #F4F5F7;
  height: 100%;
  position: fixed;
  font-size: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
}

#app .sidebar-container .horizontal-collapse-transition {
  transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
}

#app .sidebar-container .scrollbar-wrapper {
  overflow-x: auto;
}

#app .sidebar-container .el-scrollbar__bar.is-vertical {
  right: 0px;
}

#app .sidebar-container .el-scrollbar {
  height: 100%;
}

#app .sidebar-container.has-logo .el-scrollbar {
  height: calc(100% - 70px);
}

#app .sidebar-container .is-horizontal {
  display: none;
}

#app .sidebar-container a {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

#app .sidebar-container .svg-icon {
  margin-right: 16px;
}

#app .sidebar-container .el-menu {
  border: none;
  height: 100%;
  width: 100% !important;
}

#app .sidebar-container .submenu-title-noDropdown:hover,
#app .sidebar-container .el-submenu__title:hover {
  background-color: #E2E4E9 !important;
}

#app .sidebar-container .is-active > .el-submenu__title {
  color: #5087E5 !important;
}

#app .sidebar-container .is-active > .el-submenu__title .nest-menu {
  color: #505F79;
  background-color: #E2E4E9;
}

#app .sidebar-container .nest-menu .el-submenu > .el-submenu__title,
#app .sidebar-container .el-submenu .el-menu-item {
  min-width: 251px !important;
}

#app .sidebar-container .nest-menu .el-submenu > .el-submenu__title:hover, #app .sidebar-container .nest-menu .el-submenu > .el-submenu__title.is-active,
#app .sidebar-container .el-submenu .el-menu-item:hover,
#app .sidebar-container .el-submenu .el-menu-item.is-active {
  background-color: #E2E4E9 !important;
}

#app .sidebar-container .nest-menu li.el-menu-item {
  padding-left: 49px !important;
}

#app .el-menu-item.home {
  height: 70px;
  line-height: 70px;
  color: #fff !important;
  font-size: 22px;
  background-color: #5087E5 !important;
}

#app .el-menu-item.home:hover {
  background-color: #5087E5 !important;
}

#app .hideSidebar .sidebar-container {
  width: 54px !important;
}

#app .hideSidebar .main-container {
  margin-left: 54px;
}

#app .hideSidebar .submenu-title-noDropdown {
  padding: 0 !important;
  position: relative;
}

#app .hideSidebar .submenu-title-noDropdown .el-tooltip {
  padding: 0 !important;
}

#app .hideSidebar .submenu-title-noDropdown .el-tooltip .svg-icon {
  margin-left: 20px;
}

#app .hideSidebar .el-submenu {
  overflow: hidden;
}

#app .hideSidebar .el-submenu > .el-submenu__title {
  padding: 0 !important;
}

#app .hideSidebar .el-submenu > .el-submenu__title .svg-icon {
  margin-left: 20px;
}

#app .hideSidebar .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
  display: none;
}

#app .hideSidebar .el-menu--collapse .el-submenu > .el-submenu__title > span {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  display: inline-block;
}

#app .el-menu--collapse .el-menu .el-submenu {
  min-width: 251px !important;
}

#app .mobile .main-container {
  margin-left: 0px;
}

#app .mobile .sidebar-container {
  transition: transform .28s;
  width: 251px !important;
}

#app .mobile.hideSidebar .sidebar-container {
  pointer-events: none;
  transition-duration: 0.3s;
  transform: translate3d(-251px, 0, 0);
}

#app .withoutAnimation .main-container,
#app .withoutAnimation .sidebar-container {
  transition: none;
}

.el-menu--vertical > .el-menu .svg-icon {
  margin-right: 16px;
}

.el-menu--vertical .nest-menu .el-submenu > .el-submenu__title:hover,
.el-menu--vertical .el-menu-item:hover {
  background-color: #E2E4E9 !important;
}

.el-menu--vertical > .el-menu--popup {
  max-height: 100vh;
  overflow-y: auto;
}

.el-menu--vertical > .el-menu--popup::-webkit-scrollbar-track-piece {
  background: #d3dce6;
}

.el-menu--vertical > .el-menu--popup::-webkit-scrollbar {
  width: 6px;
}

.el-menu--vertical > .el-menu--popup::-webkit-scrollbar-thumb {
  background: #99a9bf;
  border-radius: 20px;
}

/* el-dialog */
.el-dialog {
  min-width: 580px;
  max-width: 698px;
}

.el-dialog .el-dialog__body {
  width: calc(100% - 200px);
  margin: auto;
}

.el-dialog .el-dialog__footer {
  text-align: center;
}

.el-dialog .el-dialog__title {
  color: #172B4D;
  font-size: 18px;
}

.el-pagination button, .el-pagination span:not([class*=suffix]) {
  height: 32px;
  line-height: 32px;
}

.el-pager li {
  width: 32px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #DDDDDE;
}

.el-pager li + li {
  margin-left: 12px;
}

.el-pager li:hover, .el-pager li.active {
  background-color: #5087E5;
  color: #fff;
}

.el-pager li:hover + li, .el-pager li.active + li {
  border-left: 1px solid #DDDDDE;
}

:export {
  menuText: #505F79;
  menuActiveText: #5087E5;
  subMenuActiveText: #5087E5;
  menuBg: #F4F5F7;
  menuHover: #E2E4E9;
  subMenuBg: #F4F5F7;
  subMenuHover: #E2E4E9;
  sideBarWidth: 250px;
  readonlyColor: #DCDFE6;
}

/* common size variable */
/* default style */
.t-c {
  text-align: center;
}

.f-c {
  float: center;
}

.t-l {
  text-align: left;
}

.f-l {
  float: left;
}

.t-r {
  text-align: right;
}

.f-r {
  float: right;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.di {
  display: inline;
}

.df {
  display: flex;
}

.dt {
  display: table;
}

.pos-static {
  position: static;
}

.pos-fixed {
  position: fixed;
}

.pos-absolute {
  position: absolute;
}

.pos-relative {
  position: relative;
}

.cur-auto {
  cursor: auto;
}

.cur-pointer {
  cursor: pointer;
}

.cur-wait {
  cursor: wait;
}

.cur-help {
  cursor: help;
}

.cur-move {
  cursor: move;
}

/* size of margin/border/padding */
.m-0 {
  margin: 0px !important;
}

.m-t-0 {
  margin-top: 0px !important;
}

.m-r-0 {
  margin-right: 0px !important;
}

.m-b-0 {
  margin-bottom: 0px !important;
}

.m-l-0 {
  margin-left: 0px !important;
}

.p-0 {
  padding: 0px !important;
}

.p-t-0 {
  padding-top: 0px !important;
}

.p-r-0 {
  padding-right: 0px !important;
}

.p-b-0 {
  padding-bottom: 0px !important;
}

.p-l-0 {
  padding-left: 0px !important;
}

.b-0 {
  border-width: 0px;
}

.b-t-0 {
  border-top-width: 0px;
}

.b-r-0 {
  border-right-width: 0px;
}

.b-b-0 {
  border-bottom-width: 0px;
}

.b-l-0 {
  border-left: 0px;
}

.f-z-0 {
  font-size: 0px !important;
}

.m-2 {
  margin: 2px !important;
}

.m-t-2 {
  margin-top: 2px !important;
}

.m-r-2 {
  margin-right: 2px !important;
}

.m-b-2 {
  margin-bottom: 2px !important;
}

.m-l-2 {
  margin-left: 2px !important;
}

.p-2 {
  padding: 2px !important;
}

.p-t-2 {
  padding-top: 2px !important;
}

.p-r-2 {
  padding-right: 2px !important;
}

.p-b-2 {
  padding-bottom: 2px !important;
}

.p-l-2 {
  padding-left: 2px !important;
}

.b-2 {
  border-width: 2px;
}

.b-t-2 {
  border-top-width: 2px;
}

.b-r-2 {
  border-right-width: 2px;
}

.b-b-2 {
  border-bottom-width: 2px;
}

.b-l-2 {
  border-left: 2px;
}

.f-z-2 {
  font-size: 2px !important;
}

.m-4 {
  margin: 4px !important;
}

.m-t-4 {
  margin-top: 4px !important;
}

.m-r-4 {
  margin-right: 4px !important;
}

.m-b-4 {
  margin-bottom: 4px !important;
}

.m-l-4 {
  margin-left: 4px !important;
}

.p-4 {
  padding: 4px !important;
}

.p-t-4 {
  padding-top: 4px !important;
}

.p-r-4 {
  padding-right: 4px !important;
}

.p-b-4 {
  padding-bottom: 4px !important;
}

.p-l-4 {
  padding-left: 4px !important;
}

.b-4 {
  border-width: 4px;
}

.b-t-4 {
  border-top-width: 4px;
}

.b-r-4 {
  border-right-width: 4px;
}

.b-b-4 {
  border-bottom-width: 4px;
}

.b-l-4 {
  border-left: 4px;
}

.f-z-4 {
  font-size: 4px !important;
}

.m-6 {
  margin: 6px !important;
}

.m-t-6 {
  margin-top: 6px !important;
}

.m-r-6 {
  margin-right: 6px !important;
}

.m-b-6 {
  margin-bottom: 6px !important;
}

.m-l-6 {
  margin-left: 6px !important;
}

.p-6 {
  padding: 6px !important;
}

.p-t-6 {
  padding-top: 6px !important;
}

.p-r-6 {
  padding-right: 6px !important;
}

.p-b-6 {
  padding-bottom: 6px !important;
}

.p-l-6 {
  padding-left: 6px !important;
}

.b-6 {
  border-width: 6px;
}

.b-t-6 {
  border-top-width: 6px;
}

.b-r-6 {
  border-right-width: 6px;
}

.b-b-6 {
  border-bottom-width: 6px;
}

.b-l-6 {
  border-left: 6px;
}

.f-z-6 {
  font-size: 6px !important;
}

.m-8 {
  margin: 8px !important;
}

.m-t-8 {
  margin-top: 8px !important;
}

.m-r-8 {
  margin-right: 8px !important;
}

.m-b-8 {
  margin-bottom: 8px !important;
}

.m-l-8 {
  margin-left: 8px !important;
}

.p-8 {
  padding: 8px !important;
}

.p-t-8 {
  padding-top: 8px !important;
}

.p-r-8 {
  padding-right: 8px !important;
}

.p-b-8 {
  padding-bottom: 8px !important;
}

.p-l-8 {
  padding-left: 8px !important;
}

.b-8 {
  border-width: 8px;
}

.b-t-8 {
  border-top-width: 8px;
}

.b-r-8 {
  border-right-width: 8px;
}

.b-b-8 {
  border-bottom-width: 8px;
}

.b-l-8 {
  border-left: 8px;
}

.f-z-8 {
  font-size: 8px !important;
}

.m-10 {
  margin: 10px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.b-10 {
  border-width: 10px;
}

.b-t-10 {
  border-top-width: 10px;
}

.b-r-10 {
  border-right-width: 10px;
}

.b-b-10 {
  border-bottom-width: 10px;
}

.b-l-10 {
  border-left: 10px;
}

.f-z-10 {
  font-size: 10px !important;
}

.m-12 {
  margin: 12px !important;
}

.m-t-12 {
  margin-top: 12px !important;
}

.m-r-12 {
  margin-right: 12px !important;
}

.m-b-12 {
  margin-bottom: 12px !important;
}

.m-l-12 {
  margin-left: 12px !important;
}

.p-12 {
  padding: 12px !important;
}

.p-t-12 {
  padding-top: 12px !important;
}

.p-r-12 {
  padding-right: 12px !important;
}

.p-b-12 {
  padding-bottom: 12px !important;
}

.p-l-12 {
  padding-left: 12px !important;
}

.f-z-12 {
  font-size: 12px !important;
}

.m-14 {
  margin: 14px !important;
}

.m-t-14 {
  margin-top: 14px !important;
}

.m-r-14 {
  margin-right: 14px !important;
}

.m-b-14 {
  margin-bottom: 14px !important;
}

.m-l-14 {
  margin-left: 14px !important;
}

.p-14 {
  padding: 14px !important;
}

.p-t-14 {
  padding-top: 14px !important;
}

.p-r-14 {
  padding-right: 14px !important;
}

.p-b-14 {
  padding-bottom: 14px !important;
}

.p-l-14 {
  padding-left: 14px !important;
}

.f-z-14 {
  font-size: 14px !important;
}

.m-16 {
  margin: 16px !important;
}

.m-t-16 {
  margin-top: 16px !important;
}

.m-r-16 {
  margin-right: 16px !important;
}

.m-b-16 {
  margin-bottom: 16px !important;
}

.m-l-16 {
  margin-left: 16px !important;
}

.p-16 {
  padding: 16px !important;
}

.p-t-16 {
  padding-top: 16px !important;
}

.p-r-16 {
  padding-right: 16px !important;
}

.p-b-16 {
  padding-bottom: 16px !important;
}

.p-l-16 {
  padding-left: 16px !important;
}

.f-z-16 {
  font-size: 16px !important;
}

.m-18 {
  margin: 18px !important;
}

.m-t-18 {
  margin-top: 18px !important;
}

.m-r-18 {
  margin-right: 18px !important;
}

.m-b-18 {
  margin-bottom: 18px !important;
}

.m-l-18 {
  margin-left: 18px !important;
}

.p-18 {
  padding: 18px !important;
}

.p-t-18 {
  padding-top: 18px !important;
}

.p-r-18 {
  padding-right: 18px !important;
}

.p-b-18 {
  padding-bottom: 18px !important;
}

.p-l-18 {
  padding-left: 18px !important;
}

.f-z-18 {
  font-size: 18px !important;
}

.m-20 {
  margin: 20px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-l-20 {
  margin-left: 20px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.p-r-20 {
  padding-right: 20px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.p-l-20 {
  padding-left: 20px !important;
}

.f-z-20 {
  font-size: 20px !important;
}

.m-22 {
  margin: 22px !important;
}

.m-t-22 {
  margin-top: 22px !important;
}

.m-r-22 {
  margin-right: 22px !important;
}

.m-b-22 {
  margin-bottom: 22px !important;
}

.m-l-22 {
  margin-left: 22px !important;
}

.p-22 {
  padding: 22px !important;
}

.p-t-22 {
  padding-top: 22px !important;
}

.p-r-22 {
  padding-right: 22px !important;
}

.p-b-22 {
  padding-bottom: 22px !important;
}

.p-l-22 {
  padding-left: 22px !important;
}

.f-z-22 {
  font-size: 22px !important;
}

.m-24 {
  margin: 24px !important;
}

.m-t-24 {
  margin-top: 24px !important;
}

.m-r-24 {
  margin-right: 24px !important;
}

.m-b-24 {
  margin-bottom: 24px !important;
}

.m-l-24 {
  margin-left: 24px !important;
}

.p-24 {
  padding: 24px !important;
}

.p-t-24 {
  padding-top: 24px !important;
}

.p-r-24 {
  padding-right: 24px !important;
}

.p-b-24 {
  padding-bottom: 24px !important;
}

.p-l-24 {
  padding-left: 24px !important;
}

.f-z-24 {
  font-size: 24px !important;
}

.m-26 {
  margin: 26px !important;
}

.m-t-26 {
  margin-top: 26px !important;
}

.m-r-26 {
  margin-right: 26px !important;
}

.m-b-26 {
  margin-bottom: 26px !important;
}

.m-l-26 {
  margin-left: 26px !important;
}

.p-26 {
  padding: 26px !important;
}

.p-t-26 {
  padding-top: 26px !important;
}

.p-r-26 {
  padding-right: 26px !important;
}

.p-b-26 {
  padding-bottom: 26px !important;
}

.p-l-26 {
  padding-left: 26px !important;
}

.f-z-26 {
  font-size: 26px !important;
}

.m-28 {
  margin: 28px !important;
}

.m-t-28 {
  margin-top: 28px !important;
}

.m-r-28 {
  margin-right: 28px !important;
}

.m-b-28 {
  margin-bottom: 28px !important;
}

.m-l-28 {
  margin-left: 28px !important;
}

.p-28 {
  padding: 28px !important;
}

.p-t-28 {
  padding-top: 28px !important;
}

.p-r-28 {
  padding-right: 28px !important;
}

.p-b-28 {
  padding-bottom: 28px !important;
}

.p-l-28 {
  padding-left: 28px !important;
}

.f-z-28 {
  font-size: 28px !important;
}

.m-30 {
  margin: 30px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-r-30 {
  margin-right: 30px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.m-l-30 {
  margin-left: 30px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-t-30 {
  padding-top: 30px !important;
}

.p-r-30 {
  padding-right: 30px !important;
}

.p-b-30 {
  padding-bottom: 30px !important;
}

.p-l-30 {
  padding-left: 30px !important;
}

.f-z-30 {
  font-size: 30px !important;
}

.m-32 {
  margin: 32px !important;
}

.m-t-32 {
  margin-top: 32px !important;
}

.m-r-32 {
  margin-right: 32px !important;
}

.m-b-32 {
  margin-bottom: 32px !important;
}

.m-l-32 {
  margin-left: 32px !important;
}

.p-32 {
  padding: 32px !important;
}

.p-t-32 {
  padding-top: 32px !important;
}

.p-r-32 {
  padding-right: 32px !important;
}

.p-b-32 {
  padding-bottom: 32px !important;
}

.p-l-32 {
  padding-left: 32px !important;
}

.f-z-32 {
  font-size: 32px !important;
}

.m-34 {
  margin: 34px !important;
}

.m-t-34 {
  margin-top: 34px !important;
}

.m-r-34 {
  margin-right: 34px !important;
}

.m-b-34 {
  margin-bottom: 34px !important;
}

.m-l-34 {
  margin-left: 34px !important;
}

.p-34 {
  padding: 34px !important;
}

.p-t-34 {
  padding-top: 34px !important;
}

.p-r-34 {
  padding-right: 34px !important;
}

.p-b-34 {
  padding-bottom: 34px !important;
}

.p-l-34 {
  padding-left: 34px !important;
}

.f-z-34 {
  font-size: 34px !important;
}

.m-36 {
  margin: 36px !important;
}

.m-t-36 {
  margin-top: 36px !important;
}

.m-r-36 {
  margin-right: 36px !important;
}

.m-b-36 {
  margin-bottom: 36px !important;
}

.m-l-36 {
  margin-left: 36px !important;
}

.p-36 {
  padding: 36px !important;
}

.p-t-36 {
  padding-top: 36px !important;
}

.p-r-36 {
  padding-right: 36px !important;
}

.p-b-36 {
  padding-bottom: 36px !important;
}

.p-l-36 {
  padding-left: 36px !important;
}

.f-z-36 {
  font-size: 36px !important;
}

.m-38 {
  margin: 38px !important;
}

.m-t-38 {
  margin-top: 38px !important;
}

.m-r-38 {
  margin-right: 38px !important;
}

.m-b-38 {
  margin-bottom: 38px !important;
}

.m-l-38 {
  margin-left: 38px !important;
}

.p-38 {
  padding: 38px !important;
}

.p-t-38 {
  padding-top: 38px !important;
}

.p-r-38 {
  padding-right: 38px !important;
}

.p-b-38 {
  padding-bottom: 38px !important;
}

.p-l-38 {
  padding-left: 38px !important;
}

.f-z-38 {
  font-size: 38px !important;
}

.m-40 {
  margin: 40px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.m-r-40 {
  margin-right: 40px !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

.m-l-40 {
  margin-left: 40px !important;
}

.p-40 {
  padding: 40px !important;
}

.p-t-40 {
  padding-top: 40px !important;
}

.p-r-40 {
  padding-right: 40px !important;
}

.p-b-40 {
  padding-bottom: 40px !important;
}

.p-l-40 {
  padding-left: 40px !important;
}

.f-z-40 {
  font-size: 40px !important;
}

.m-42 {
  margin: 42px !important;
}

.m-t-42 {
  margin-top: 42px !important;
}

.m-r-42 {
  margin-right: 42px !important;
}

.m-b-42 {
  margin-bottom: 42px !important;
}

.m-l-42 {
  margin-left: 42px !important;
}

.p-42 {
  padding: 42px !important;
}

.p-t-42 {
  padding-top: 42px !important;
}

.p-r-42 {
  padding-right: 42px !important;
}

.p-b-42 {
  padding-bottom: 42px !important;
}

.p-l-42 {
  padding-left: 42px !important;
}

.f-z-42 {
  font-size: 42px !important;
}

.m-44 {
  margin: 44px !important;
}

.m-t-44 {
  margin-top: 44px !important;
}

.m-r-44 {
  margin-right: 44px !important;
}

.m-b-44 {
  margin-bottom: 44px !important;
}

.m-l-44 {
  margin-left: 44px !important;
}

.p-44 {
  padding: 44px !important;
}

.p-t-44 {
  padding-top: 44px !important;
}

.p-r-44 {
  padding-right: 44px !important;
}

.p-b-44 {
  padding-bottom: 44px !important;
}

.p-l-44 {
  padding-left: 44px !important;
}

.f-z-44 {
  font-size: 44px !important;
}

.m-46 {
  margin: 46px !important;
}

.m-t-46 {
  margin-top: 46px !important;
}

.m-r-46 {
  margin-right: 46px !important;
}

.m-b-46 {
  margin-bottom: 46px !important;
}

.m-l-46 {
  margin-left: 46px !important;
}

.p-46 {
  padding: 46px !important;
}

.p-t-46 {
  padding-top: 46px !important;
}

.p-r-46 {
  padding-right: 46px !important;
}

.p-b-46 {
  padding-bottom: 46px !important;
}

.p-l-46 {
  padding-left: 46px !important;
}

.f-z-46 {
  font-size: 46px !important;
}

.m-48 {
  margin: 48px !important;
}

.m-t-48 {
  margin-top: 48px !important;
}

.m-r-48 {
  margin-right: 48px !important;
}

.m-b-48 {
  margin-bottom: 48px !important;
}

.m-l-48 {
  margin-left: 48px !important;
}

.p-48 {
  padding: 48px !important;
}

.p-t-48 {
  padding-top: 48px !important;
}

.p-r-48 {
  padding-right: 48px !important;
}

.p-b-48 {
  padding-bottom: 48px !important;
}

.p-l-48 {
  padding-left: 48px !important;
}

.f-z-48 {
  font-size: 48px !important;
}

.m-50 {
  margin: 50px !important;
}

.m-t-50 {
  margin-top: 50px !important;
}

.m-r-50 {
  margin-right: 50px !important;
}

.m-b-50 {
  margin-bottom: 50px !important;
}

.m-l-50 {
  margin-left: 50px !important;
}

.p-50 {
  padding: 50px !important;
}

.p-t-50 {
  padding-top: 50px !important;
}

.p-r-50 {
  padding-right: 50px !important;
}

.p-b-50 {
  padding-bottom: 50px !important;
}

.p-l-50 {
  padding-left: 50px !important;
}

.f-z-50 {
  font-size: 50px !important;
}

/* mixin style */
/* set color of background,text and border */
/* common theme colors */
.text-color-333 {
  color: #333;
}

.border-color-333 {
  border-color: #333;
}

.border-left-color-333 {
  border-left-color: #333;
}

.border-right-color-333 {
  border-right-color: #333;
}

.border-top-color-333 {
  border-top-color: #333;
}

.border-bottom-color-333 {
  border-bottom-color: #333;
}

.text-color-666 {
  color: #666;
}

.border-color-666 {
  border-color: #666;
}

.border-left-color-666 {
  border-left-color: #666;
}

.border-right-color-666 {
  border-right-color: #666;
}

.border-top-color-666 {
  border-top-color: #666;
}

.border-bottom-color-666 {
  border-bottom-color: #666;
}

.text-color-999 {
  color: #999;
}

.border-color-999 {
  border-color: #999;
}

.border-left-color-999 {
  border-left-color: #999;
}

.border-right-color-999 {
  border-right-color: #999;
}

.border-top-color-999 {
  border-top-color: #999;
}

.border-bottom-color-999 {
  border-bottom-color: #999;
}

.text-color-ccc {
  color: #ccc;
}

.border-color-ccc {
  border-color: #ccc;
}

.border-left-color-ccc {
  border-left-color: #ccc;
}

.border-right-color-ccc {
  border-right-color: #ccc;
}

.border-top-color-ccc {
  border-top-color: #ccc;
}

.border-bottom-color-ccc {
  border-bottom-color: #ccc;
}

.text-color-ddd {
  color: #ddd;
}

.border-color-ddd {
  border-color: #ddd;
}

.border-left-color-ddd {
  border-left-color: #ddd;
}

.border-right-color-ddd {
  border-right-color: #ddd;
}

.border-top-color-ddd {
  border-top-color: #ddd;
}

.border-bottom-color-ddd {
  border-bottom-color: #ddd;
}

.text-color-eee {
  color: #eee;
}

.border-color-eee {
  border-color: #eee;
}

.border-left-color-eee {
  border-left-color: #eee;
}

.border-right-color-eee {
  border-right-color: #eee;
}

.border-top-color-eee {
  border-top-color: #eee;
}

.border-bottom-color-eee {
  border-bottom-color: #eee;
}

.text-color-cbcfd4 {
  color: #cbcfd4;
}

.border-color-cbcfd4 {
  border-color: #cbcfd4;
}

.border-left-color-cbcfd4 {
  border-left-color: #cbcfd4;
}

.border-right-color-cbcfd4 {
  border-right-color: #cbcfd4;
}

.border-top-color-cbcfd4 {
  border-top-color: #cbcfd4;
}

.border-bottom-color-cbcfd4 {
  border-bottom-color: #cbcfd4;
}

.text-color-00b4c5 {
  color: #5087E5;
}

.border-color-00b4c5 {
  border-color: #5087E5;
}

.border-left-color-00b4c5 {
  border-left-color: #5087E5;
}

.border-right-color-00b4c5 {
  border-right-color: #5087E5;
}

.border-top-color-00b4c5 {
  border-top-color: #5087E5;
}

.border-bottom-color-00b4c5 {
  border-bottom-color: #5087E5;
}

.text-color-1ECE9A {
  color: #1ECE9A;
}

.border-color-1ECE9A {
  border-color: #1ECE9A;
}

.border-left-color-1ECE9A {
  border-left-color: #1ECE9A;
}

.border-right-color-1ECE9A {
  border-right-color: #1ECE9A;
}

.border-top-color-1ECE9A {
  border-top-color: #1ECE9A;
}

.border-bottom-color-1ECE9A {
  border-bottom-color: #1ECE9A;
}

.text-color-white {
  color: #ffffff;
}

.border-color-white {
  border-color: #ffffff;
}

.border-left-color-white {
  border-left-color: #ffffff;
}

.border-right-color-white {
  border-right-color: #ffffff;
}

.border-top-color-white {
  border-top-color: #ffffff;
}

.border-bottom-color-white {
  border-bottom-color: #ffffff;
}

/* set button style */
.el-button {
  color: #ffffff;
}

.el-button.el-button--primary {
  background-color: #5087E5;
  color: #ffffff;
  border-color: #5087E5;
}

.el-button.el-button--primary.green-btn {
  background-color: #1ECE9A;
  border-color: #1ECE9A;
}

.el-button.el-button--primary.cancel {
  background-color: #ffffff;
  color: #5087E5;
  border-color: #5087E5;
}

.el-button.line-type.blue-btn {
  background-color: #ffffff;
  color: #5087E5;
  border-color: #5087E5;
}

.el-button.line-type.blue-btn:hover, .el-button.line-type.blue-btn.is-active {
  background-color: #5087E5;
  color: #ffffff;
  border-color: #5087E5;
}

.el-button.line-type.green-btn {
  background-color: #ffffff;
  color: #1ECE9A;
  border-color: #1ECE9A;
}

.el-button.line-type.green-btn:hover, .el-button.line-type.green-btn.is-active {
  background-color: #1ECE9A;
  color: #ffffff;
  border-color: #1ECE9A;
}

/* set form item style */
.el-form-item__content {
  background-color: #ffffff;
  color: #999;
  border-color: #cbcfd4;
}

/* readonly form item */
.el-input__inner[readonly="readonly"]:focus, .el-input__inner[readonly="readonly"]:hover {
  border-color: #DCDFE6;
}

/* set dropdown style */
.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
  color: #5087E5;
}

/* set button style */
.el-button {
  color: #666;
  min-width: 80px;
}

.el-button .el-button-small {
  height: 34px;
}

.el-input--small .el-input__inner {
  height: 34px;
  line-height: 34px;
}

/* set common-container style */
.common-container {
  position: absolute;
  min-height: calc(100% - 32px);
  width: calc(100% - 32px);
}

.common-form {
  width: 60%;
  min-width: 400px;
  margin: auto;
}

.common-form .el-select, .common-form .el-date-editor {
  width: 100%;
}

.common-pagination {
  width: 100%;
  padding: 20px 10px;
  text-align: center;
  margin-top: 20px;
}

.common-list {
  padding: 0 40px;
}

.common-list .filter-box {
  display: flex;
}

.common-list .filter-item {
  display: inline-block;
  width: 210px;
  margin-right: 10px;
}

.common-list .common-table {
  height: calc(100% - 50px);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.custom-hover:hover {
  color: #5087E5;
}

/* tooltip style */
.el-tooltip__popper.is-light {
  border-color: #cdcdcd;
}

/* custom tooltip */
.custom-tooltip {
  min-width: 160px;
  min-height: 100px;
  line-height: 18px;
  background: #fff !important;
  box-shadow: 0 5px 8px 2px #ddd;
  color: #666 !important;
  border-color: transparent !important;
}

.custom-tooltip .popper__arrow {
  border-width: 0 !important;
  background-color: #fff !important;
}

.custom-tooltip .popper__arrow::after {
  background-color: transparent !important;
}

/* common tabs */
.common-tabs {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.common-tabs .el-tabs__active-bar {
  background-color: #5087E5;
}

.common-tabs .el-tabs__item {
  font-family: 'SourceHanSansCN-Normal';
  color: #172B4D;
  font-size: 18px;
}

.common-tabs .el-tabs__item.is-active {
  color: #5087E5;
}

.common-tabs .el-tabs__nav-wrap.is-top {
  padding: 0 56px;
  height: 60px;
  line-height: 60px;
}

.common-tabs .el-tabs__content {
  padding: 0 56px;
}

/* 状态颜色值 */
.state.enabled {
  background-color: #E5F1FB;
  color: #016ECA;
}

.state.disabled {
  background-color: #FEDEE0;
  color: #FB2434;
}

.state.bottom {
  float: right;
  margin-top: -20px;
  min-width: 46px;
  height: 56px;
  position: relative;
  padding: 10px 4px 20px;
}

.state.bottom:after {
  content: '';
  position: absolute;
  width: 0;
  border-top: 20px solid transparent;
  border-right: 23px solid transparent;
  border-bottom: 20px solid #fff;
  border-left: 23px solid transparent;
  right: 0;
  bottom: 0;
}

.state.right {
  display: inline-block;
  margin-top: -20px;
  min-width: 56px;
  height: 28px;
  line-height: 28px;
  position: relative;
  text-align: left;
  text-indent: 10px;
  font-size: 14px;
  font-weight: normal;
  padding-right: 20px;
}

.state.right:after {
  content: '';
  position: absolute;
  width: 0;
  border-top: 14px solid transparent;
  border-right: 12px solid #fff;
  border-bottom: 14px solid transparent;
  right: 0;
  bottom: 0;
}

/* title */
.common-title {
  padding: 2px 20px;
  border-left: 4px solid #1ece9a;
  font-size: 18px;
  color: #172B4D;
}

/* common avatar styles */
.common-avatar-uploader .el-upload {
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  border: 1px solid #DCDFE6;
}

.common-avatar-uploader .el-icon-plus {
  font-size: 32px;
  color: #BCC0C7;
}

.common-avatar-uploader .el-upload__tip {
  margin-top: 0;
  color: #8c8c8c;
}

/* 删除对话框 */
.delete-confirm {
  width: 632px;
  height: 304px;
  padding: 4px 25px;
}

.delete-confirm .el-message-box__header {
  margin-bottom: 50px;
}

.delete-confirm .el-message-box__content {
  height: 150px;
  width: 380px;
  color: #172B4D;
  margin: auto;
}

.delete-confirm .el-message-box__btns {
  text-align: center;
}

.el-card {
  color: #172B4D;
}

.shadow {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.common-border {
  border: 1px solid #eee;
}

.l {
  float: left;
}

.r {
  float: right;
}

.b {
  font-weight: bold;
}

.m-a {
  margin: auto;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.clear-fix {
  display: inline-block;
}

.clear-fix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .clear-fix {
  height: 1px;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Source Han Sans CN, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  user-select: none;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.app-container {
  padding: 20px;
}

/* role-add */
.role-dialog .tree-wrapper .el-form-item__content {
  height: 250px;
  border: 1px solid #DCDFE6;
  overflow-y: auto;
  border-radius: 2px;
}

/* common-list role-list-item */
.list-item .el-card__body {
  height: 100%;
  position: relative;
}

/* user-edit-dialog */
.user-edit-dialog {
  margin-top: 8vh !important;
}

.user-edit-dialog .el-dialog__body {
  width: 100%;
}

.user-edit-dialog .el-dialog__header {
  padding: 0 !important;
}

.user-edit-dialog .el-card__header {
  padding: 11px 20px;
  line-height: 32px;
  background-color: #ECEDF0;
  color: #172B4D;
}

.user-edit-dialog .user-info {
  margin-bottom: 38px;
}

/* companyInfo-list */
.company-list .vue-treeselect__control, .machine-list .vue-treeselect__control, .merchant-list .vue-treeselect__control {
  height: 34px;
  outline: none;
}

.company-list .vue-treeselect__menu, .machine-list .vue-treeselect__menu, .merchant-list .vue-treeselect__menu {
  font-weight: normal;
}
