:export {
  menuText: #505F79;
  menuActiveText: #5087E5;
  subMenuActiveText: #5087E5;
  menuBg: #F4F5F7;
  menuHover: #E2E4E9;
  subMenuBg: #F4F5F7;
  subMenuHover: #E2E4E9;
  sideBarWidth: 250px;
  readonlyColor: #DCDFE6;
}

/* common size variable */
/* default style */
